* {
    box-sizing: border-box;
    font-family: Helvetica;
}

body {
    background: linear-gradient(180deg, rgb(123, 54, 179), rgb(36, 15, 53));
    margin: 0;
    padding: 0;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 100vh;
}




.search-container {
    padding: 24px 48px 48px 48px;
    background: linear-gradient(60deg, rgba(32, 32, 32, 0.842), rgb(32, 32, 32));
    width: 100%;
    max-width: 500px;
    text-align: center;
    border-radius: 4px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);

}

.search-container img {
    width: 100px;
}

.search-container h1 {
    color: #fafafa;
}

.search-field {
    display: flex;
    flex-wrap: wrap;
}

.search-container input {
    padding: 12px;
    width: 300px;
    border-radius: 4px 0 0 4px;
    border: 1px solid rgb(72, 12, 112);
    background: rgba(72, 12, 112, 0.3);
    outline: none;
    color: white;
}
.search-container input:hover {
    background: rgba(132, 26, 202, 0.3);
}

.search-container button {
    border: none;
    border-radius: 0 4px 4px 0;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    background: rgb(72, 12, 112);
    color: white;
    outline: none;
    width: 100px;
}

.search-container button:hover {
    background: rgb(132, 26, 202);

}
.search-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 12px;
    background: linear-gradient(60deg, rgba(32, 32, 32, 0.918), rgb(32, 32, 32));
    animation: animateSearch 800ms;
    z-index: 200;
}


.search-container-hide {
    background: transparent;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;    
}

.search-container-hide h1 {
    color: transparent;
}

@keyframes animateSearch {
    from{
        opacity: 0;
        transform: translate3d(0, -20px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}


#repo-list {
    scroll-margin: 128px;
}

#repo-list h1 {
    text-align: center;
    color: #fafafa;
    margin-bottom: 64px;
    text-shadow: 2px 2px 4px #000000a6;
}


#repo-list ul {
    list-style: none;
    padding: 24px;
    max-width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px auto 260px auto;
    transition: ease 500ms;
    border-radius: 4px;
    background: linear-gradient(60deg, rgba(32, 32, 32, 0.842), rgb(32, 32, 32));
    animation: animateSearch 200ms;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}

#repo-list ul li {
    flex: 1;
    background: #282a36;
    color: #d1d1d1;
    padding: 16px;
    font-weight: bold;
    margin: 12px;
    transition: ease-in-out 100ms;
    cursor: pointer;
    animation: animateSearch 600ms;
    border-bottom: 4px solid #480c70;
    border-radius: 4px 4px 0 0;
}

#repo-list ul li:hover {
    background: #3b3d47;
}

@media (max-width:512px) {
    .search-field {
        width: 100%;
    }
    .search-field input {
        flex: 1;
    }
    #repo-list ul {
        grid-template-columns: 1fr;
    }
    #repo-list ul {
        margin: 0 24px;
    }
}

@media (max-width:386px) {
    .search-container button {
        flex: 0;
    }
    .search-container input {
        width: 100%;
    }
}