* {
    box-sizing: border-box;
    font-family: Helvetica;
}

body {
    background: url('/img/bg6.png') no-repeat fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 100vh;
}




.search-container {
    padding: 24px 48px 48px 48px;
    background: rgba(0, 0, 0, 0.842);
    width: 500px;
    max-width: 500px;
    text-align: center;
    border-radius: 4px;
    transition: ease-in 200ms;
}

.search-container img {
    width: 100px;
}

.search-container h1 {
    color: #fafafa;
}

.search-field {
    display: flex;
    flex-wrap: wrap;
}

.search-container input {
    padding: 12px;
    width: 300px;
    border-radius: 8px 0 0 8px;
    border: 1px solid rgb(72, 12, 112);
    background: rgba(72, 12, 112, 0.3);
    outline: none;
    color: white;
    transition: all 400ms;
}
.search-container input:hover {
    background: rgba(132, 26, 202, 0.3);
}

.search-container button {
    border: none;
    border-radius: 0 8px 8px 0;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    background: rgb(72, 12, 112);
    color: white;
    outline: none;
    width: 100px;
    transition: all 400ms;
}

.search-container button:hover {
    background: rgb(132, 26, 202);

}
.search-fixed {
    position: fixed;
    top: 0;
    background: rgba(132, 26, 202, 0.9 );
    border-radius: 8px;
    transition: ease-in 400ms;

}

.search-container-hide {
    background: transparent;
}


#repo-list ul {
    list-style: none;
    padding: 16px;
    max-width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    transition: ease 200ms;
    background: #fafafa2f;
}

#repo-list ul li {
    flex: 1;
    background: #d5d5d5;
    padding: 16px;
    font-weight: bold;
    margin: 12px;
    border-radius: 4px;
    transition: ease 400ms;

}


@media (max-width: 486px) {
    .search-container input {
        border-radius: 8px;
    }
    .search-container button {
        border-radius: 8px;
        margin-top: 12px;
        padding: 12px;
    }
    .search-field {
        justify-content: center;
    }
}
